<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bravetogether_volunteerapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".RegisterWhereActivity"></activity>
        <activity android:name=".LoginFlow.CreateAccountFirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConformationsActivity" />
        <activity android:name=".RegularProfileActivity" />
        <activity android:name=".LoginFlow.NotificationActivity" />
        <activity android:name=".LoginFlow.LoginActivity" />
        <activity
            android:name=".Scanner"
            android:exported="true" />
        <activity
            android:name=".CreateVolunteerActivity" />
<!--        <activity-->
<!--            android:name=".LoginFlow.CreateAccountFirstActivity"-->
<!--            android:exported="true" />-->

        <activity
            android:name=".home"/>
        <activity android:name=".FilterActivity" />
        <activity android:name=".VolunteerApprovalActivity" />
        <activity android:name=".GeneralActivity" />
        <activity android:name=".LoginFlow.IntroFirstTimeActivity" />
        <activity
            android:name=".LoginFlow.RegisterActivity"
            android:exported="true" />
        <activity android:name=".LoginFlow.IntroPageActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addToCalendar"
            android:exported="true"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0hReShDEqNU3cdSm9eot1atb8-CKBy0Q" />
    </application>

</manifest>